<%- include('partials/header') %>
<div class="result_box activeResult">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="complete_text">You've completed the Quiz!</div>
    <div class="score_text">
        <!-- Here I've inserted Score Result from JavaScript -->
    </div>
    <div class="buttons">
       <a href="/"><button class="quit">Quit Quiz</button></a>
    </div>
</div>
<%- include('partials/footer') %>
 
