   <!-- Inside this JavaScript file I've inserted Questions and Options only -->
   <script src="stage2Res/question.js"></script>

   <!-- Inside this JavaScript file I've coded all Quiz Codes -->
   <script src="stage2Res/script.js"></script>

</body>
</html>