<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel Of TradeX</title>
    <link rel="stylesheet" href="/css/adminStyles.css">
</head>


<body>

    <h3>Admin Panel Of TradeX</h3>
    <a href="/"><button>Home</button></a>
    <h4>Tables</h4>
    <div>
        <form action="/admin/1" method="post">
            <input type="submit" value="User">
        </form>
        <form action="/admin/2" method="post">
            <input type="submit" value="Stage 1">
        </form>
        <form action="/admin/3" method="post">
            <input type="submit" value="Stage 2">
        </form>
        <form action="/admin/4" method="post">
            <input type="submit" value="Submission">
        </form>
        <form action="/admin/14" method="post">
            <label for="input1">qID</label>
            <input type="numeric" name="qID" placeholder="Enter here">
            <input type="submit" value="Submission">
        </form>
        <form action="/admin/20" method="post">
            <label for="input1">userID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Submission">
        </form>
        <form action="/admin/8" method="post">
            <input type="submit" value="Users Stage1">
        </form>
        <form action="/admin/11" method="post">
            <input type="submit" value="Users Stage2">
        </form>
        <form action="/admin/15" method="post">
            <input type="submit" value="Timings">
        </form>
        <form action="/admin/10" method="post">
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <input type="submit" value="Stage3 Submissions">
        </form>
    </div>
    <br>
    <h4>Updates</h4>
    <div>
        <form action="/admin/5" method="post">
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <label for="input1">Points</label>
            <input type="numeric" name="points" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
        <form action="/admin/6" method="post">
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <label for="input1">Current Stage</label>
            <input type="numeric" name="stage" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
        <form action="/admin/7" method="post">
            <label for="input1">Stage 1</label>
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <label for="input1">Index</label>
            <input type="numeric" name="index" placeholder="Enter here">
            <label for="input1">Visit</label>
            <input type="numeric" name="visit" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
        <form action="/admin/12" method="post">
            <label for="input1">Stage 2</label>
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <label for="input1">Index</label>
            <input type="numeric" name="index" placeholder="Enter here">
            <label for="input1">Visit</label>
            <input type="numeric" name="visit" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
        <form action="/admin/13" method="post">
            <label for="input1">Log Out</label>
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
        <form action="/admin/16" method="post">
            <label for="input1">timeID</label>
            <input type="numeric" name="timeID" placeholder="Enter here">
            <label for="input1">timeStamp</label>
            <input type="numeric" name="timeStamp" placeholder="Enter here">
            <input type="submit" value="Timings">
        </form>
        <form action="/admin/17" method="post">
            <label for="input1">Roll No</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <label for="input1">Points</label>
            <input type="numeric" name="points" placeholder="Enter here">
            <input type="submit" value="Deduct Points">
        </form>
        <form action="/admin/18" method="post">
            <label for="input1">Roll No</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <label for="input1">Points</label>
            <input type="numeric" name="points" placeholder="Enter here">
            <input type="submit" value="Add Points">
        </form>
        <form action="/admin/19" method="post">
            <label for="input1">Roll No</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Delete Submissions">
        </form>
    </div>
    <h4>Reset</h4>
    <div>
        <form action="/admin/9" method="post">
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>