<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel Of TradeX</title>
    <link rel="stylesheet" href="/css/adminStyles.css">
</head>


<body>

    <h3>Admin Panel Of TradeX</h3>
    <h4>Tables</h4>
    <div>
        <form action="/admin/1" method="post">
            <input type="submit" value="User">
        </form>
    </div>
    <br>
    <div>
        <form action="#">
            <label for="input1">Input 1</label>
            <input type="text" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
        
       
    </div>

</body>

</html>