<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Event Over </title>
  
      <link rel="stylesheet" href="/css/wait.css">
      <!-- <link rel="stylesheet" href="livepage.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body> 
            <div class="container">
                <h2><span>This Stage is</span>Completed</h2>
              
             </div>
   </body>
</html>