<%- include('partials/header') %>

<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
  <div class="snowflake">
  ❅
  </div>
  <div class="snowflake">
  ❆
  </div>
  <div class="snowflake">
  ❄
  </div>
</div>
<ul class="nav justify-content-end">
  <% if(userID==205121002||userID==205121084||userID==205121106){ %>
  <li class="nav-item">
    <a class="nav-link" href="/admin">Admin Panel</a>
  </li>
<%}%>
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="leaderboard.html">LeaderBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="instruction.html">Instruction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.html">Contact Us</a>
      </li>
      <li class="nav-item">
        <%if(status){%>
          <a class="nav-link" href="/logout" >Logout</a>    
          <%}else{%>
          <a class="nav-link" href="/login">Login</a>  
          <%}%>
      </li>  
  </ul>
  
   
  <div class="btnGroup" style="float: right;">
 
    <a href="/stage1"><button>STAGE 1</button></a>
    <a href="/stage2"><button>STAGE 2</button></a>
    <a href="/stage3"><button>STAGE 3</button></a>
  </div>
<%- include('partials/footer') %>