<%- include('partials/header') %>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="leaderboard.html">LeaderBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="instruction.html">Instruction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.html">Contact Us</a>
      </li>  
  </ul>
  <div class="btnGroup" style="float: right;">
 <button>STAGE 1</button>
 <a href="/stage2"><button>STAGE 2</button></a>
<button>STAGE 3</button>
 <button>STAGE 4</button>
  </div>
<%- include('partials/footer') %>