<!DOCTYPE html>
 
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/LoginStyle.css">
       </head>
  <body>
    <video id="background-video" autoplay loop muted poster="/loginRes/123.avif">
      <source src="/loginRes/log_vid.mov" type="video/mp4">
    </video>
    <div class="main-section">
      <div class="content-section">
      <div class="head-section">
      <h3>Welcome!</h3>
      </div>
      <div class="body-section">
      <form>
      <div class="form-input">
      <input type="text" name="" placeholder="Username">
      </div>
      <div class="form-input">
      <input type="text" name="" placeholder="Password">
      </div>
      <div class="form-input">
       <button type="submit" class="btn-submit">Login</button>
      </div>
      </form>
      </div>
      </div>
      </div>
     
  </body>
</html>
