<%- include('partials/header') %>
<video id="background-video" autoplay loop muted poster="/image/mainPge.jpg">
    <source src="/video/stage1_vid.mp4" type="video/mp4">
  </video>
    <!-- start Quiz button -->
    <div class="start_btn"><button>LET'S GO</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Game</span></div>
        <div class="info-list">
            <div class="info">1. There will be 12 questions and You will have only <span>20 seconds</span> per each question.</div>
            <div class="info">2. You can't type any answer once time goes off. </div>
            <div class="info">3. You can also skip the questions.</div>
            <div class="info">4. You can't exit from the Game while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <a href="/stage1/ques"><button class="restart">Continue</button></a>
        </div>
    </div>
    <%- include('partials/footer') %>
 
