<%- include('partials/header') %>
<div class='light x1'></div>
<div class='light x2'></div>
<div class='light x3'></div>
<div class='light x4'></div>
<div class='light x5'></div>
<div class='light x6'></div>
<div class='light x7'></div>
<div class='light x8'></div>
<div class='light x9'></div>
    <!-- start Quiz button -->
    <div class="start_btn"><button>LET'S GO</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Game</span></div>
        
        <div class="info-list">
            <br>
            <div class="info">1. There will be 12 questions and You will have only <span>1 minute</span> per question.</div>
            <div class="info">2. You can't type any answer once time goes off. </div>
            <div class="info">3. If you submit the answer before time you will have to wait till time gets off for that particular question.</div>
            <div class="info">4. Please ensure that there you don't enter any spaces,hypen or dash between your answer.</div>
            <div class="info">5. Anti-Cheating measures are applied so trying to do anything will only get you to loose your time.</div>
            <br>
        </div>
        <div class="buttons">
            <a href="/stage1/ques"><button class="restart">Continue</button></a>
        </div>
    </div>
    <%- include('partials/footer') %>
 
