<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAGE 3</title>
    <link rel="stylesheet" href="/css/stage3style1.css">
</head>
<body>
    <div class="section1">
        <a href="/">
            <button>Home</button>
        </a>
        <header class="header"> <u>4 Questions</u></header>
        <div>
        <button class="ques1_btn">Question 1</button>
        <div id="quetion1_status" style="display:none;"><%=q1%></div>
        <button class="ques2_btn">Question 2</button>
        <div id="quetion2_status" style="display:none;"><%=q2%></div>
        <button class="ques3_btn">Question 3</button>
        <div id="quetion3_status" style="display:none;"><%=q3%></div>
        <button class="ques4_btn">Question 4</button>
        <div id="quetion4_status" style="display:none;"><%=q4%></div>
    </div>
    </div>
    <div class="section2">
                <div id="ques_head" class="title"><u>Question</u></div>
                <section id="ques_section">
                    <div class="que_text"></div>
                    <div class="constraint"><u>Constraints:</u></div>
                    <div class="constraints"></div>
                    <div class="example"><u>Examples:</u></div>
                    <div class="example1"></div>
                    <div class="example2"></div>
                    <div class="example3"></div>
                    <div class="example4"></div>
                    <div class="input"><u>Inputs:</u></div>
                    <div class="inputs"></div>
                </section>
                <div id="ques_upload" class="upload"></div>
                     
            
    </div>

    <script src="/stage4Res/questions.js"></script>
    <script src="/stage4Res/script2.js"></script>   
</body>
</html>